* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
html{
	font-size: 10px;
}

body {
	/*background-image: url("../img/background.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-color: #fff;
	color: #000;
	font-family: 'roboto', sans-serif;
	
}

.contenedor-articulo {
	max-width: 1200px;
	margin: 0px auto;
	box-shadow: 0px 0px 10px rgb(50 50 50 / 17%);
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "header header header header"
						 "articulo articulo articulo sidebar"
						 "footer footer footer footer";
}


.header {
	grid-area: header;
	position:relative;
}
.logo{
	margin: 10px 20px;
}

.logo-sticky{
	display:none;
	margin-left: 30px;
    flex-basis: 100px;
}

.barra-navegacion{
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ef660f;
	background-color: #1c1c1c;
	height: 48px;
	width:1200px;
}
.scroll-abajo .barra-navegacion {
	position:fixed;
	top:-48px;
	transition-property: top;
	transition-duration: 0.4s;
}
.scroll-arriba .barra-navegacion {
	z-index: 999;
	position: fixed;
	top:0;
	transition-property: top;
	transition-duration: 0.4s;
}

.scroll-arriba .logo-sticky, .scroll-abajo .logo-sticky{
	display:block;
	margin-left: 30px
}

.menu{
    list-style: none;
	display:flex;
	margin-left:20px;
	flex-basis:950px;
}
.menu a {
	font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
	color:white;
	/*background-color:#ef660f;*/
    text-decoration: none;
	line-height: 4.8rem;
	font-weight: 700;
    text-transform: uppercase;
	display: block;
    padding: 0px 15px;
}

.btn{
	display:none;
	color:white;
	font-size: 2.5rem;
  	cursor: pointer;
}


.modo-oscuro{
	flex-basis: 100px;
	font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
	color:white;
	line-height: 4.4rem;
	font-weight: 700;
    text-transform: uppercase;

}

.articulo {
	grid-area: articulo;
	padding: 20px;
	border-right: 1px solid #c9c9c9;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 500px auto;
    grid-template-areas: "encabezado encabezado"
                         "autor texto";
}
.encabezado{ grid-area: encabezado; position:relative;}
.autor{grid-area: autor;}
.texto{grid-area: texto;}

.encabezado img{
	width: 100%;
	height: auto;
}
@supports(object-fit: cover){
	.encabezado img{
	  height: 100%;
	  object-fit: cover;
	  object-position: center center;
	}
}

.titular{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	padding: 10px;
	transition: 0.2s;
}
.titular:hover{
	background-color: rgba(0,0,0,0.8);
}

.encabezado h1{
    color:white;
}


.sidebar {
	padding: 15px;
	min-height: 100px;
	width:350px;
	grid-area: sidebar;
}

.widget-social{
	display:flex;
	align-items: center;
    text-align: center;
	height:80px;
	margin:10px 0px 20px 0px;
	font-size: 2rem;
}
.fbk, .twttr, .ytb{
	width:100%;
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
}
.fbk{background-color:#1877f2;}
.twttr{background-color: #00acee;}
.ytb{background-color: #c4302b;}


.widget{
	display:flex;
	flex-direction: column;
	font-size: 1.5rem;
}
.review-item{
	display:grid;
	grid-template-columns: 100px auto;
	grid-gap: 10px;
	margin-bottom:10px;
}
.review-item h4{
	margin-bottom: 5px;
}
.miniatura-rev{
	min-width:100px;
	height:80px;
	
	margin-right:10px;

}
.rating{
	color:#e2a804;
	margin-top:1rem;
}



/* seccion footer */
.footer {
	grid-area: footer;
	display:flex;
	justify-content: space-between;
	background: #12203E;
	font-size: 1.2rem;
	color: #fff;
	padding: 20px;
	
}

.footer_social i{
	margin:0px 10px;
}

@media only screen and (max-width: 767px) {

    .contenedor-articulo {
		width:100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "articulo articulo articulo articulo"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}

    .logo{
		display:none;
	}

	.scroll-abajo .barra-navegacion {
		position: fixed;
    	top: -100%;
		transition-property: top;
		transition-duration: 0.4s;
	}
	.scroll-arriba .barra-navegacion {
		z-index: 999;
		position: fixed;
		top:-452px;
		transition-property: top;
		transition-duration: 0.4s;
	}
	.scroll-arriba .logo-sticky, .scroll-abajo .logo-sticky{
		margin-left: 0px
	}
	.barra-navegacion.active{
		top:0;
		z-index: 999;
		transition-property: top;
		transition-duration: 0.4s;
	}
	.barra-navegacion.active .abrir-menu{
		display:none;
	}
	.barra-navegacion.active .cerrar-menu{
		display:block;
	}

	.barra-navegacion {  display: grid;
		width:100%;
		grid-template-columns: 50px auto 50px;
		grid-template-rows: 50px auto 50px;
		height:500px;
		padding: 0px 15px;
		transition-property: top;
		transition-duration: 0.4s;
		position: absolute;
   		top: -452px;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "cerrar cerrar cerrar"
		  "menu menu menu"
		  "abrir logo dark";
	  }
	  
	  .abrir-menu {
		justify-self: start;
		align-self: center;
		grid-area: abrir;
		display:block;
	  }
	  
	  .logo-sticky {
		justify-self: center;
		align-self: center;
		grid-area: logo;
		flex-basis: 0;
		margin-left: 0px;
		display: block;
		margin-top: 5px;
	  }
	  
	  .modo-oscuro {
		justify-self: end;
		align-self: center;
		grid-area: dark;
	  }
	  
	  .cerrar-menu {
		justify-self: start;
		align-self: center;
		grid-area: cerrar;
	  }
	  
	  .menu {
		justify-self: center;
		align-self: center;
		grid-area: menu;
		margin-left:0px;
		flex-basis: 0;
		flex-direction: column;
		text-align: center;
	  }

    .sidebar{
		width:100%;
	}
    .footer{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1.5fr 0.5fr;
	}
}


@media (min-width: 768px) and (max-width:1023px) {
    
    .contenedor-articulo{
        width:768px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "articulo articulo articulo articulo"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
    }
    .barra-navegacion{
		width:768px;
	}

    .sidebar{
		width:100%;
	}
}


@media (min-width: 1024px) and (max-width: 1199px) {
    
    .contenedor-articulo{
        width:1000px;
    }
    .barra-navegacion{
		width:1000px;
	}
    .sidebar{
		width:300px;
	}
}