* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

:root{
    --porciento: 188.496;
    --noventacinco:9.4248;
    --noventa:18.8496;
    --ochentacinco:28.2744;
	--ochentacinco2:51.83625;
    --ochenta:37.6992;
    --setentacinco:47.124;
    --setenta:56.5488;
    --sesentacinco:65.9736;
    --sesenta:75.3984;
    --cincuentacinco:84.8232;
    --cincuenta:94.248;
    --veinticinco:141.372;
}


[data-theme="light"] {
    --primary: #F66B0E;
    --background: #fff;
	--background2:#efefef;
	--backBarranav:#205375;
	--texto:#222222;
    --titulos: #111111;
	--bordeSeparadores: #c9c9c9;
	--hoverMenu:#112b3c;

}

[data-theme="dark"] {
    --primary: #F66B0E;
    --background: #0c0c0c;
	--background2:#101010;
	--backBarranav:#112b3c;
	--texto:#efefef;
    --titulos: #fff;
	--bordeSeparadores:#0a0a0a;
	--timeline:#999999;
	--hoverMenu:#205375;
}

a{
	text-decoration: none;
	color:unset;
}

h1,h2,h3,h4{
	color:var(--titulos);
}
p{
	color:var(--texto);
}

html{
	font-size: 10px;
}

body {
	background-color: var(--background);
	color: #000;
	font-family: 'roboto', sans-serif;
	
}

.contenedor,
.contenedor-articulo,
.contenedor-contacto,
.contenedor-noticias{
	background-color: var(--background2);
	max-width: 1200px;
	margin: 0px auto;
	box-shadow: 0px 0px 10px rgb(50 50 50 / 17%);
	display: grid;
	grid-gap: 0px;
}

.contenedor {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "header header header header"
						 "portada portada portada portada"
						 "contenido contenido contenido sidebar"
						 "footer footer footer footer";
}

.contenedor-noticias {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "header header header header"
						 "contenido contenido contenido sidebar"
						 "footer footer footer footer";
}

.contenedor-articulo {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "header header header header"
						 "articulo articulo articulo sidebar"
						 "footer footer footer footer";
}

.contenedor-contacto {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "header header header header"
						 "contacto contacto contacto sidebar"
						 "footer footer footer footer";
}


/*  grid areas */

.contacto{
	grid-area: contacto;
}
.header {
	grid-area: header;
	position:relative;
	z-index: 9999;
}


/*///////////////////////////////////////////////////////////////////////*/
/* seccion del header*/
/*///////////////////////////////////////////////////////////////////////*/



.logo{
	margin: 10px 20px;
}

.logo-sticky{
	display:none;
	margin-left: 30px;
    flex-basis: 100px;
}

.logo img:hover{
	animation: shake 1200ms;
	-webkit-animation: shake 1200ms;
}

@keyframes shake {
0% { transform: rotateZ(0);}
10% { transform: rotateZ(-10deg);}
20% { transform: rotateZ(10deg);}
30% { transform: rotateZ(-7deg);}
40% { transform: rotateZ(7.5deg);}
50% { transform: rotateZ(-6deg);}
60% { transform: rotateZ(5deg);}
70% { transform: rotateZ(-4.2857142857deg);}
80% { transform: rotateZ(3.75deg);}
90% { transform: rotateZ(-3.3333333333deg);}
100% { transform: rotateZ(0);}
}


/*seccion barra navegacion*/
.barra-container{
	height:48px;
	background-color: var(--backBarranav);
}

.barra-navegacion{
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--backBarranav);
	height: 48px;
	width:1200px;
}
.scroll-abajo .barra-navegacion {
	position:fixed;
	top:-48px;
	transition-property: top;
	transition-duration: 0.4s;
}
.scroll-arriba .barra-navegacion {
	z-index: 999;
	position: fixed;
	top:0;
	transition-property: top;
	transition-duration: 0.4s;
}

.scroll-arriba .logo-sticky, .scroll-abajo .logo-sticky{
	display:block;
	margin-left: 30px;
	margin-top: 4px;
}

.menu{
    list-style: none;
	display:flex;
	margin-left:20px;
	flex-basis:950px;
}
.menu li:hover{
	background-color: var(--hoverMenu);
}
.menu a {
	font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
	color:white;
    text-decoration: none;
	line-height: 4.8rem;
	font-weight: 700;
    text-transform: uppercase;
	display: block;
    padding: 0px 15px;
}

.select-inicio ul li:nth-child(1){
	background-color: var(--primary);
}
.select-noticias ul li:nth-child(2){
	background-color: var(--primary);
}
.select-resenias ul li:nth-child(3){
	background-color: var(--primary);
}
.select-redactores ul li:nth-child(4){
	background-color: var(--primary);
}
.select-contacto ul li:nth-child(5){
	background-color: var(--primary);
}

.btn{
	display:none;
	color:white;
	font-size: 2.5rem;
	cursor: pointer;
}





/*seccion portada*/
.portada{
	grid-area: portada;
	display: grid;
	height:420px;
	color:white;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--bordeSeparadores);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "item-a item-a item-b item-c"
						 "item-a item-a item-d item-e";
}
.portada h3{
	color:#ffffff;
}
.portada .item-a { grid-area: item-a;}
.portada .item-b { grid-area: item-b;}
.portada .item-c { grid-area: item-c;}
.portada .item-d { grid-area: item-d;}
.portada .item-e { grid-area: item-e;}

.item-a{
	font-family: 'khand', sans-serif;
	font-size: 2.8rem;
	line-height: 3.3rem;
	position:relative;
}
.item-b, .item-c, .item-d, .item-e{
	font-family: 'khand', sans-serif;
	font-size: 1.6rem;
	line-height: 2.1rem;
	position: relative;
}
.portada img{
	width: 100%;
	height: auto;
}
@supports(object-fit: cover){
	.portada img{
	  height: 100%;
	  object-fit: cover;
	  object-position: center center;
	}
}
.portada article{
	border:1px solid black;
}
.portada .titular{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	padding: 10px;
	transition: 0.2s;
}

.articulo .titular{
    padding: 120px 20px 20px;
    position: absolute;
    bottom: 0;
    width:100%;
    background: linear-gradient(to top,#191c20 0,#191c20f2 calc(100% - 150px),#191c2000 100%);
}

.portada .titular:hover{
	background-color: rgba(0,0,0,0.8);
}


/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////*/
/*seccion del contenido principal*/
/*///////////////////////////////////////////////////////////////////////*/

.contenido {
	grid-area: contenido;
	padding: 20px;
	
	border-right: 1px solid var(--bordeSeparadores);
}

.recientes{
	display:flex;
	flex-direction:column;
}
.titulo_seccion{
	border-bottom:3px solid var(--primary);
	text-transform:uppercase;
	padding-bottom:3px;
	display:flex;
	justify-content: space-between;
	margin-bottom:15px;
	align-items: center;
	font-size: 1.6rem;
}
.titulo_seccion h4{
	padding:5px;
}

/*tamaños fuentes*/
.entrada h3{
	font-family: 'khand', sans-serif;
	font-size: 2.3rem;
	line-height: 2.8rem;
}

.entrada p{
	font-size: 1.6rem;
}



/*boton modo oscuro*/

.modo-oscuro{
	flex-basis: 100px;
	font-family: 'open sans', sans-serif;
	display:flex;
    font-size: 1.4rem;
	color:white;
	line-height: 4.4rem;
	font-weight: 700;
    text-transform: uppercase;

}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background2);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
	z-index: 10;
}
  
input:checked + .slider {
    background-color: var(--background2);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/*reseñas----------*/

.reseñas{
	display:grid;
	grid-gap:10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
}

.reseña-item{
	min-height:200px;
	
	
	padding-bottom:10px;
	position:relative;
}
.reseña-item h3{
	text-align: center;
	font-family: 'khand', sans-serif;
	margin:0px 5px;
	font-size:1.9rem;
	line-height: 2.4rem;
	color: var(--titulos);
}
.img-reseña{
	height:200px;
	border:1px solid black;
	margin-bottom:10px;
}

.reseña-porcentaje{
	position:absolute;
	top:5px;
	right:5px;
	background-color: rgba(0,0,0,.7);
    border-radius: 50%;
}

text{
	    /* color: blue!important; */
    /* -webkit-text-stroke-color: blue; */
    fill: white;
    font-size: 25px;
    text-anchor: middle;
}

.track {
	/*stroke-width: 1;
	stroke: lightgrey;*/
	fill: rgba(0, 0, 0, 0.7);
}

.progreso {
	stroke-width: 8;
	/*stroke-linecap: round;*/
	fill: none;
	transform: rotate(270deg);
	transform-origin: center;
	stroke-dasharray: 188.496;
	stroke-dashoffset: 188.496;
}
.progreso2 {
	stroke-width: 10;
	/*stroke-linecap: round;*/
	fill: none;
	transform: rotate(270deg);
	transform-origin: center;
	stroke-dasharray: 345.575;
	stroke-dashoffset: 345.575;
}

.noventa{
    animation: noven 1700ms linear forwards;
}
.noventacinco{
	animation: novent 1700ms linear forwards;
	stroke:#00920c
}

.ochentacinco{
    animation: ochen 2000ms linear forwards;
	stroke:#00920c;
}
.ochentacinco2{
	animation: ochen2 2000ms linear forwards;
	stroke:#00920c;
}
.ochenta{
	animation: ochent 2000ms linear forwards;
	stroke:#00920c;
}
.setentacinco{
    animation: seten 1400ms linear forwards;
	stroke:#00920c;
}
.sesentacinco{
	animation: sesen 1400ms linear forwards;
	stroke:#849200;
}
.cincuenta{
	animation: cincu 1200ms linear forwards;
	stroke:rgb(255, 60, 0);
}
.veintecinco{
	animation: veint 2200ms linear forwards;
	stroke:rgb(255, 0, 0);
}

@keyframes novent{100%{stroke-dashoffset: var(--noventacinco);}}
@keyframes noven{100%{stroke-dashoffset: var(--noventa);}}
@keyframes ochen{100%{stroke-dashoffset: var(--ochentacinco);}}
@keyframes ochen2{100%{stroke-dashoffset: var(--ochentacinco2);}}
@keyframes ochent{100%{stroke-dashoffset: var(--ochenta);}}
@keyframes seten{100%{stroke-dashoffset: var(--setentacinco);}}
@keyframes sesen{100%{stroke-dashoffset: var(--sesentacinco);}}
@keyframes cincu {100%{stroke-dashoffset: var(--cincuenta);}}
@keyframes veint{100%{stroke-dashoffset: var(--veinticinco);}}

.reseña-text{
	font-size: 4.5rem;
}
/*------------------*/

.articulo {
	grid-area: articulo;
	padding: 15px;
	border-right: 1px solid var(--bordeSeparadores);
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 500px repeat(3, auto);
    grid-template-areas: "encabezado encabezado"
                         "autor texto"
						 "relacionados relacionados"
						 "comentarios comentarios";
}


.miniatura img, .miniatura-rev img, .img-reseña img{
	width: 100%;
	height: auto;
}
@supports(object-fit: cover){
	.miniatura img, .miniatura-rev img, .img-reseña img{
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.entrada{
	display:grid;
	grid-template-columns: 250px 1fr;
	grid-gap:15px;
	margin:10px 0px;
	grid-template-areas: "miniatura metainfo";
}
.entrada .miniatura{
	grid-area: miniatura;
	width:250px;
	height:175px;
	
}
.entrada .metainfo{
	grid-area: metainfo;
	display: flex;
    flex-direction: column
}
.meta-tags{
	margin:5px 0px;
	font-size: 1.3rem;
	color:var(--texto);
}
.encabezado h1{
    color:white;
    font-size: 3.5rem;
	line-height: 3.9rem;
}


.articulo .meta-tags{
	margin:5px 0px;
    color:white;
	font-size: 1.4rem;
}
.meta-tags span,.meta-tags i{
	margin-right:10px;
}
.meta-tags i{
	color:var(--primary);
}


.encabezado{ grid-area: encabezado; position:relative;}
.autor{grid-area: autor;}
.texto{grid-area: texto;}
.relacionados{ grid-area: relacionados;}
.comentarios{grid-area: comentarios;}


.relacionados{
	border-top: 1px solid var(--bordeSeparadores);
    padding-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.relacionados .titulo_seccion{
	margin-left:15px;
	margin-right:15px;
}
.rel-container{
	padding: 0px 15px 60px;
	display: grid;
    column-gap: 10px;
	width:100%;
    grid-template-columns: repeat(4, 1fr);
}

.rel-item img{
	width: 100%;
	height: auto;
}
.rel-item h4{
	text-align: center;
	font-size: 1.5rem;
}

@supports(object-fit: cover){
	.rel-item img{
	  height: 100%;
	  object-fit: cover;
	  object-position: center center;
	}
}
.encabezado img{
	width: 100%;
	height: auto;
}
@supports(object-fit: cover){
	.encabezado img{
	  height: 100%;
	  object-fit: cover;
	  object-position: center center;
	}
}

/*formulario contacto*/
.contacto{
	padding: 15px;
	display:grid;
	gap:20px;
	align-items: center;
	grid-template-columns:  2fr 1fr;
	grid-template-rows: 1fr;

}

.formulario {
	padding:20px;
	background-color:var(--background);
	border-radius: 5px;
	font-size: 1.4rem;
	margin: auto;
    width: 70%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.formulario-label {
	display: block;
	font-size: 1.2rem;
	color:var(--titulos);
	font-weight: 700;
	padding: 5px;
	cursor: pointer;
}

.formulario-grup-input {
	position: relative;
}

.formulario-input {
	width: 100%;
	background: var(--background2);
	border: 3px solid transparent;
	color:var(--texto);
	border:1px solid rgb(139, 139, 139);
	border-radius: 3px;
	height: 30px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

textarea.formulario-input{
	resize: none;
    height: 80px;
    padding: 10px;
}
.formulario-input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 10px rgba(163,163,163, 0.4);
}

.formulario-input-error {
	font-size: 1.2rem;
	margin-bottom: 0;
	display: none;
}

.formulario-input-error-activo {
	display: block;
}

.formulario-validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 7px;
	z-index: 100;
	font-size: 1.6rem;
	opacity: 0;
}

.formulario-checkbox {
	margin-right: 10px;
}

.formulario-grup-terminos, 
.formulario-mensaje,
.formulario-grup-btn-enviar {
	grid-column: span;
}

.formulario-mensaje {
	font-size: 1.4rem;
	background: #f52626;
	padding: 10px 15px;
	border-radius: 3px;
	display: none;
}

.formulario-mensaje-activo {
	display: block;
}

.formulario-mensaje p {
	margin: 0;
}

.formulario-grup-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario-btn {
	height: 25px;
	width: 60%;
	background: var(--primary);
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}



.formulario-mensaje-exito {
	font-size: 1.4rem;
	color: #119200;
	display: none;
}

.formulario-mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario-grup-correcto .formulario-validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario-grup-incorrecto .formulario-label {
	color: #bb2929;
}

.formulario-grup-incorrecto .formulario-validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario-grup-incorrecto .formulario-input {
	border: 3px solid #bb2929;
}

.container-error{
	display:flex;
}

#imagen-error{
	width:200px;
	margin:auto;
}



/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/

/*cuerpo del artiuclo*/

.texto{
    padding:10px;
}
.texto p{
    font-family: 'Verdana' sans-serif;
    font-size: 1.4rem;
    margin-bottom: 24px;
    line-height: 1.72;
}
.texto blockquote{
    font-family: 'Opens Sans';
    border-left:solid 2px var(--primary);
    background-color: var(--background);
    text-align: center;
    padding: 15px 23px;
	color:var(--texto);
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

blockquote:before { content: open-quote; }
blockquote:after  { content: close-quote; }

.citar-fuente , .citar-fuente a{
	font-size: 1.3rem;
	font-weight: bold;
	color:var(--texto);
	font-style: italic;
	text-decoration: none;
	margin-bottom: 20px;
}
.texto h3, h2{
   margin-bottom: 20px; 
}

.video{
	margin-bottom: 20px;
}

.widget-trailer, .video{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.widget-trailer iframe, .video iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.texto hr{
    margin:10px 0px;
}

.compartir{
	color:white;
	height:50px;
}

.autor{
	text-align: center;
	padding-top:20px;
}
.autor-sticky{
	position:sticky;
	top:20px;
	margin-bottom:20px;
}
.articulo .bio-autor{
	font-size: 1.2rem;
	padding-top:10px;
}
.bio-autor p{
	margin-bottom: 10px;
}
.autor figcaption{
	margin-top: 10px;
	color:var(--titulos);
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: bold;
}






/*///////////////////////////////////////////////////////////////////////*/
/* seccion del sidebar */
/*///////////////////////////////////////////////////////////////////////*/

.sidebar {
	padding: 15px;
	min-height: 100px;
	grid-area: sidebar;
}

.widget-social, .compartir{
	display:flex;
	align-items: center;
    text-align: center;
	margin-bottom: 20px;	
}
.widget-social{
	font-size: 2rem;
	height:80px;
}
.compartir{
	height:50px;
	font-size:1.8rem;
}

.fbk, .twttr, .ytb, .pntrst, .whtspp, .tlgrm, .instgrm{
	width:100%;
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
}



.fbk{background-color:#1877f2;}
.twttr{background-color: #00acee;}
.ytb{background-color: #c4302b;}
.pntrst{background-color: #bd081c;}
.instgrm{background-color: #dd2a7b;}
.whtspp{background-color: green;}
.tlgrm{background-color: #0088cc;}


.widget{
	display:flex;
	flex-direction: column;
	font-size: 1.5rem;
}
.review-item{
	display:grid;
	grid-template-columns: 100px auto;
	grid-gap: 10px;
	margin-bottom:10px;
}
.review-item h4{
	margin-bottom: 5px;
}
.miniatura-rev{
	min-width:100px;
	height:80px;
	
	margin-right:10px;

}
.rating{
	color:#e2a804;
	margin-top:1rem;
}


.widget-trailer, .video{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.widget-trailer iframe, .video iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.time-caja{
	position: relative;
    padding-left: 80px;
    margin: 0;
}

.time-titulo{
	position: relative;
    border-left: 1px solid var(--timeline);
    padding: 18px 0 20px 20px;
}

.timeline i.punto{
	position: absolute;
    top: 0;
	color:var(--timeline);
    left: -8px;
    width: 15px;
    background: var(--background2);
    border: 2px solid var(--background2);
}

.time-fecha{
	position: absolute;
    width: 60px;
	color:var(--timeline);
    text-align: right;
    left: 0;
    top: 0;

	margin-top: 0;
    text-transform: uppercase;
}

.time-hora{
	position: absolute;
    width: 60px;
    text-align: right;
    left: 0;
	top: 14px;
	margin-top: 0;
    text-transform: uppercase;
	color: var(--timeline);
    font-size: 10px;
    opacity: 1;
    visibility: visible;
}
.time-autor{
	position: absolute;
    top: 2px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    color: var(--timeline);
    text-transform: uppercase;
}

.sticky1{
	height:800px;
	margin-bottom:20px;
}
.reseñas-sticky, .timeline-sticky{
	position:sticky;
	top:10px;
}



/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/

.footer {
	grid-area: footer;
	display:flex;
	justify-content: space-between;
	background: var(--backBarranav);
	font-size: 1.2rem;
	padding: 20px;
}
.footer p{
	color:white;
}

.footer_social i{
	margin:0px 10px;
	color:white;
}


/*///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/




/*                               Media queries          */


/* celulares*/
@media only screen and (max-width: 767px) {
    
	.contenedor{
		width:100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, auto);
		grid-template-areas: "header header header header"
							 "portada portada portada portada"
						 	 "contenido contenido contenido contenido"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}
	.contenedor-noticias{
		width:100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "contenido contenido contenido contenido"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}

	.contenedor-articulo {
		width:100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "articulo articulo articulo articulo"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}
	.contenedor-contacto{
		width:100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "contacto contacto contacto contacto"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}



	.logo{
		display:none;
	}

	.scroll-abajo .barra-navegacion {
		position: fixed;
    	top: -100%;
		transition-property: top;
		transition-duration: 0.4s;
	}
	.scroll-arriba .barra-navegacion {
		z-index: 999;
		position: fixed;
		top:-452px;
		transition-property: top;
		transition-duration: 0.4s;
	}
	.scroll-arriba .logo-sticky, .scroll-abajo .logo-sticky{
		margin-left: 0px
	}
	.barra-navegacion.active{
		top:0;
		z-index: 999;
		transition-property: top;
		transition-duration: 0.4s;
		height:100vh;
	}
	.barra-navegacion.active .abrir-menu{
		display:none;
	}
	.barra-navegacion.active .cerrar-menu{
		display:block;
	}

	.barra-navegacion {  display: grid;
		width:100%;
		grid-template-columns: 50px auto 50px;
		grid-template-rows: 50px auto 50px;
		height:500px;
		padding: 0px 15px;
		transition-property: top;
		transition-duration: 0.4s;
		position: absolute;
   		top: -452px;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
		  "cerrar cerrar cerrar"
		  "menu menu menu"
		  "abrir logo dark";
	  }
	  
	  .abrir-menu {
		justify-self: start;
		align-self: center;
		grid-area: abrir;
		display:block;
	  }
	  
	  .logo-sticky {
		justify-self: center;
		align-self: center;
		grid-area: logo;
		flex-basis: 0;
		margin-left: 0px;
		display: block;
		margin-top: 5px;
	  }
	  
	  .modo-oscuro {
		justify-self: end;
		align-self: center;
		grid-area: dark;
	  }
	  
	  .cerrar-menu {
		justify-self: start;
		align-self: center;
		grid-area: cerrar;
	  }
	  
	  .menu {
		justify-self: center;
		align-self: center;
		grid-area: menu;
		margin-left:0px;
		flex-basis: 0;
		flex-direction: column;
		text-align: center;
	  }

	.portada{
        grid-template-columns: 1fr;
	    grid-template-rows: repeat(5, 1fr);
        height:320vw;
	    grid-template-areas: "item-a"
						     "item-b"
                             "item-c"
							 "item-d"
							 "item-e";
    }
	
	.item-a,.item-b, .item-c, .item-d, .item-e{
		font-family: 'khand', sans-serif;
		font-size: 2.4rem;
		line-height: 2.9rem;
	}
	.entrada{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		grid-gap:5px;
		margin:15px 0px;
		grid-template-areas: "miniatura" 
							 "metainfo";
	}
	.entrada .miniatura{
		width:100%;
		height:55vw;
	}
	.entrada .metainfo{
		text-align: center;
	}

	.articulo {
		width:100%;
		padding: 0px;
		border-right: 0px;
		grid-template-columns: 1fr;
		grid-template-rows: 80vw repeat(4, auto);
		grid-template-areas: "encabezado"
							 "texto"
							 "autor"
							 "relacionados"
							 "comentarios";
	}

	.contacto{
		padding: 10px;
		grid-template-columns:  1fr;
		grid-template-rows: 1fr auto;
	
	}
	.formulario {
		width:90%;
	}

	.encabezado h1{
		font-size: 2.4rem;
		line-height: 2.9rem;
	}
	.autor-sticky{
		display:flex;
		align-items: center;
    	gap: 30px;
	}

	.autor{
		width: 80vw;
    	margin: 0px auto;
	}
	.bio-autor{
		font-size: 1.4rem;
		padding-top: 0px;
	}

	.relacionados{
		margin-left: 0px;
		margin-right: 0px;
	}

	.rel-container{
		padding-bottom: 60px;
		column-gap: 20px;
		row-gap: 60px;
    	margin: 0px auto;
    	width: 80%;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 25vw 25vw;
	}


	.sidebar{
		width:100%;
	}
	.sticky1{
		height:auto;
	}
	.reseñas-sticky, .timeline-sticky{
		position:unset;
		top:unset;
	}
	.reseñas{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	.reseña-item{
		width:100%;
		height:unset;

	}
	.img-reseña{
		height:50vw;
	}
	.footer{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1.5fr 0.5fr;
	}
	
}


/*tablets*/

@media (min-width: 768px) and (max-width:1023px) {
    
	.contenedor, .contenedor-articulo, 
	.contenedor-contacto, .contenedor-noticias{
		width:768px;
		grid-template-columns: repeat(4, 1fr);
	}
	.contenedor{
		grid-template-rows: repeat(5, auto);
		grid-template-areas: "header header header header"
							 "portada portada portada portada"
						 	 "contenido contenido contenido contenido"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}
	.contenedor-noticias{
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "contenido contenido contenido contenido"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}
	.contenedor-articulo{
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "articulo articulo articulo articulo"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
    }
	.contenedor-contacto{
		grid-template-rows: repeat(4, auto);
		grid-template-areas: "header header header header"
						 	 "contacto contacto contacto contacto"
							 "sidebar sidebar sidebar sidebar"
							 "footer footer footer footer";
	}

	.barra-navegacion{
		width:768px;
	}

	.portada{
        grid-template-columns: repeat(6, 1fr);
	    grid-template-rows: 1fr 1fr 1.5fr;
        height:400px;
	    grid-template-areas: "item-a item-a item-a item-b item-b item-b"
						     "item-a item-a item-a item-b item-b item-b"
                             "item-c item-c item-d item-d item-e item-e";
    }
	.item-a,.item-b{
		font-family: 'khand', sans-serif;
		font-size: 1.8rem;
		line-height: 2.3rem;
	}
	.item-c, .item-d, .item-e{
		font-family: 'khand', sans-serif;
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.menu{
		flex-basis: 515px;
	}
	.articulo{
		border-right: 0px;
	}
	.encabezado{
		margin: -15px -15px 0px -15px;
	}

	.sidebar{
		width:100%;
	}

	.widget{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.sticky1{
		height:auto;
	}
	.reseñas-sticky, .timeline-sticky{
		position:unset;
		top:unset;
	}
	.img-reseña{
		height:150px;
	}

}

/* monitores medianos, tablets grandes*/
@media (min-width: 1024px) and (max-width: 1199px) {
	
	.contenedor-articulo,
	.contenedor-contacto,
	.barra-navegacion,
	.contenedor,
	.contenedor-noticias,
	.barra-navegacion{
		width:1000px;
	}
	.portada{
        height:400px;
    }
	.item-a,.item-b,.item-c,.item-d,.item-e, .entrada h3{
		font-family: 'khand', sans-serif;
	}
	.item-a{
		font-size: 2.6rem;
		line-height: 3.1rem;
	}
	.item-b, .item-c,
	.item-d, .item-e{
		font-size: 1.4rem;
		line-height: 1.9rem;
	}
	.menu{
		flex-basis: 750px;
	}
	.entrada h3{
		font-size: 2rem;
		line-height: 2.5rem;
	}
	.meta-tags{
		font-size: 1.2rem;
	}
	.entrada p{
		font-size: 1.4rem;
	}
	.sidebar{
		width:270px;
	}

	.img-reseña{
		height:150px;
	}
}
